/*reset*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: white;
   background-color: #595959 ; 
}
/* same style for each section */
.color, .fonts, .text-styles {
    border: 3px solid gray;
    width:80%;
    margin: 20px auto;
    padding:30px;
}
h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
}

/* h3 and p tags centered and styled */
.color h3 {
    background-color: transparent;
    color: gray;
    margin-top: 30px;
    text-align: center;
    
}
.color p {
    background-color: transparent;
    color: gray;
    text-align: center;
}
/* color divs */
.lightcyan {
    background-color:lightcyan;
    width: 80;
    height: 100px;
    border: 5px solid white;
    margin: 10px;
}
.lightcoral {
    background-color:lightcoral;
    width: 80;
    height: 100px;
    border: 5px solid white;
    margin: 10px;
}
.darksalmon {
    background-color:darksalmon;
    width: 80;
    height: 100px;
    border: 5px solid white;
    margin: 10px;
}
.darkseagreen {
    background-color:darkseagreen;
    width: 80;
    height: 100px;
    border: 5px solid white;
    margin: 10px;

}
/* fonts applied to the fonts section */ 
.lato {
    font-family: Lato;
    text-align: center;
}

.karantina {
    font-family: Karantina;
    text-align: center;
    
}

.rubik {
    font-family: Rubik;
    text-align: center;
}
